# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app

#special file
*.rar
*.zip
*.eco
*.pho
*.rep
*.lst
*.bak
*.bin
*.map
*.axf
*.htm

#directory
version/
VCEdit/
Debug/
si_project/